:root {
  /* main font */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* accent color */

  --accent-color: #2196f3;
  --accent-color-btn: #188ce8;
  /* light background theme */

  --primary-bg-white: #ffffff;
  --secondary-white-color: #757575;
  --third-white-color: #f5f4fa;
  --fourth-white-color: rgba(255, 255, 255, 0.6);

  /* dark background theme */

  --primary-bg-dark: #2f303a;
  --secondary-dark-color: #212121;

  /* gap */

  --projects-gap: 30px;
}

/* body */
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child {
  margin-bottom: 0;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* heder */
.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  margin-right: 93px;
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin: 0;
}
.nav-list {
  display: flex;
  align-items: center;
}
.header-contacts-mail {
  margin-right: 50px;
}

.header-wrapper {
  display: flex;
}
.header-contacts {
  margin-left: auto;
}
.header {
  background-color: var(--primary-bg-white);
}

.header-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-font);
  text-decoration: none;
}
.web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.nav-link {
  color: var(--accent-color);
}
.nav-list {
  list-style: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-dark-color);
  text-decoration: none;
}
.header-contacts {
  padding: 0;
  list-style: none;
}
.header-contacts-mail:hover,
.header-contacts-mail:focus {
  color: var(--accent-color);
}
.header-contacts-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-white-color);
  text-decoration: none;
}

.header-contacts-tel:hover,
.header-contacts-tel:focus {
  color: var(--accent-color);
}
.header-contacts-tel {
  color: var(--secondary-white-color);
  text-decoration: none;
}
/* main */
/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  text-align: center;

  background: var(--primary-bg-dark);
}
.hero-title {
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-bg-white);
  background-color: var();
}
.hero-button-main-button {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-bg-white);
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-button-main-button:hover,
.hero-button-main-button:focus {
  background-color: var(--accent-color-btn);
}

/* feature */

/* what are you doing */
.feature {
  width: 1170px;
  height: 101px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-list {
  padding-top: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  list-style: none;
}
.section-list:last-child {
  margin-bottom: 94px;
}
.section-item {
  justify-content: space-between;
  padding-top: 94px;
  margin-bottom: 0;
  width: 270px;
  margin-right: 30px;
}
.work {
  /* display: flex; */
  width: 1170px;
  padding-top: 0;
  padding-bottom: 0;
}
.section-item:last-child {
  margin: 0;
}
.subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-dark-color);
}
.section-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-white-color);
}
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-color);
}
/* our teams */
.teams {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.card-teams {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-content {
  padding: 10px;
}
.photo {
  text-align: center;
  width: 270px;
  height: 368px;
  margin-right: 30px;
  padding-top: 0;
  padding-bottom: 94px;
}
.subtitle-teams {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-color);
}
.section-txt-teams {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-white-color);
}
/* footer */
.footer {
  display: flex;
  height: 252px;
  align-items: center;

  background-color: var(--primary-bg-dark);
}
.header-link-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-bg-white);
  text-decoration: none;
}
.web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo {
  padding-bottom: 20px;
}
.addres-list-item {
  list-style: none;
  padding-bottom: 9px;
}
.addres-city {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-white);
  text-decoration: none;
}
.addres-city:hover,
.addres-city:focus {
  color: var(--accent-color);
}
.addres-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.addres-mail:hover,
.addres-mail:focus {
  color: var(--accent-color);
}
.addres-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-white-color);
  text-decoration: none;
}
.addres-tel:hover,
.addres-tel:focus {
  color: var(--accent-color);
}
/* Портфолио */

.header {
  border-bottom: 1px solid #ececec;
}
.filters {
  width: 611px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
}
.filters-list {
  display: flex;

  margin-left: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: 0;
  justify-content: space-between;
}
.filters-list:last-child {
  margin-right: 0;
}
.section-btn {
  list-style: none;
}
.section-btn-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-color);
  background-color: var(--third-white-color);
  cursor: pointer;
}
.section-btn :hover,
.section-btn :focus {
  color: var(--primary-bg-white);
  background-color: var(--accent-color);
}

/* our projects */
.our-projects {
  width: 1200px;
  padding-bottom: 94px;
}
a {
  text-decoration: none;
}
.projects {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--projects-gap));
  margin-top: calc(-1 * var(--projects-gap));
}
.projects > .projects-card {
  flex-basis: calc(100% / 3 - var(--projects-gap));
  margin-left: var(--projects-gap);
  margin-top: var(--projects-gap);
}
.card-projects-thumb {
  outline: 1px solid teal;
}
.projects-card {
  outline: 1px solid red;
}
.project-card-content {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-dark-color);
}
.title-portfolio-subtext {
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-dark-color);
  background-color: var(--third-white-color);
  cursor: pointer;
}
